PORT=5000
NODE_ENV=development
MONGODB_URI=mongodb://localhost:27017/raahi_cafe
JWT_SECRET=raahi_cafe_super_secret_jwt_key_2026
FRONTEND_WEBSITE_URL=http://localhost:3000
FRONTEND_ADMIN_URL=http://localhost:5173
